.input, .select2-container--default .custom-container , .select2-container--default .select2-selection--multiple{
  height: $formElementHeight;
  background-color: $inputBg;
  border: 0.1rem solid $inputBorder;
  padding: .3rem 1.5rem;
  color: $bodyFontClr;
  @include border-radius(0);
}
.select2-container--default .select2-selection--multiple{
  background-color: #fff;
}

// input
.input {
  width: 100%;
  @include placeHolder {
    color: $inputFontClr;
    font-size: $tinyFontSize;
    text-transform: capitalize;
  }

  &[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }

  &--white-bg {
    background-color: $whiteClr;
    border: 0.1rem solid $inputBorder2;
  }
  &:focus {
  }
}

// textarea
textarea{
  width: 100%;
  padding: .3rem 1.5rem;
  border: 0.1rem solid $inputBorder;
  @include placeHolder {
    color: $inputFontClr;
    font-size: $tinyFontSize;
    text-transform: capitalize;
  }
}

.positioned-icn {
  position: relative;

  &__icon {
    position: absolute;
    #{$right}: 1rem;
    top: 50%;
    @include translate(0, -50%);
    font-size: $smallFontSize;
    button {
      padding: 0 1rem;
    }
  }
}

// select
.select2 {
  &-container {
    &--default {
      .custom-container {
        .select2-selection__rendered {
          height: 100%;
          padding: 0;
          @extend %d-flex;
          align-items: center;
          color: $inputFontClr;
          font-size: $tinyFontSize;
          text-transform: capitalize;
        }
        .select2-selection__arrow {
          height: 100%;
          width: .8rem;
          top: 0;
          #{$left}: auto;
          #{$right}: 1rem;
        }
      }
    }
    &--open {
      .select2-dropdown {
        &--below {
          border-radius: 0;
          border: 0.1rem solid $inputBorder;
          box-shadow: 0 1.5rem 1.5rem -1.5rem rgba($mainClr,0.1);
        }
      }
    }
    &--default {
      .select2-results {
        &__option {
          padding: 1rem 0.5rem;
          text-transform: capitalize;
          font-size: $smallFontSize;
          &:not(:last-child) {
            border-bottom: 1px solid $footerHeadings;
          }
          &[aria-selected=true] {
            background-color: transparent;
          }
          &--highlighted[aria-selected] {
            background-color: rgba($mainClr, 0.1);
            color: $secondClr;
          }
        }
      }
    }
  }
  &-dropdown {
    background-color: $dropdownClr;
  }
}

// checkbox
.checkbox{
  color: $mainClr;
  position: relative;
  cursor: pointer;
  span{
    &:before{
      margin-#{$right}:1.2rem;
      transition: all 250ms cubic-bezier(.4,.0,.23,1);
      @include fontAwesome("Font Awesome 5 Free",'\f0c8',1.8rem,400,$mainClr);
    }
  }

  input{
    display: none;
    &:checked{
      + span{
        animation: shrink-bounce 200ms cubic-bezier(.4,.0,.23,1);
        &:before{
          animation: checkbox-check 125ms 250ms cubic-bezier(.4,.0,.23,1) forwards;;
          @include fontAwesome("Font Awesome 5 Free",'\f14a',null,900,null);
        }
      }
    }
  }
}

.form-single {
  margin: 3rem 0;
  .form__element {
    display: inline-block;
    width: auto;
  }
}
//-----------validate--

.form {
  &__element {
    position: relative;
    width: 100%;
    .validated-tooltip {
      opacity: 0;
      position: absolute;
      #{$left}: auto;
      #{$right}: 0;
      top: 100%;
      font-size: 1.1rem;
      color: $secondClr;
      margin-top: .5rem;
      z-index: 5;
      background: #fff;
      padding: .2rem .4rem;
      border: .1rem solid $secondClr;
      @include border-radius(.4rem);
      &:before {
        content: ' ';
        border-left: .5rem solid transparent;
        border-right: .5rem solid transparent;
        border-bottom: .5rem solid #F85F20;
        position: absolute;
        top: -.5rem;
        #{$left}: 5%;
      }
    }
  }
}
.form__element.validated {
  .validated-tooltip {
    @include transition(all, 0.2s);
    opacity: 1;
  }

  .input, textarea, .custom-container {
    @include transition(all, 0.2s);
    border-#{$left}: 1rem solid $secondClr;
  }
  .checkbox {
    color: $secondClr;
    span {
      &:before {
        color: $secondClr;
      }
    }
  }
}


.form-validation {
  width: 100%;
  color: $bodyFontClr;
  font-size: $smallFontSize;
  text-transform: capitalize;
  padding: 0;
  margin: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
  @include transition(all, 0.2s);
  @extend %d-flex;
  justify-content: space-between;
  align-items: center;
  &.m-error {
    height: auto;
    visibility: visible;
    padding: .6rem 1.5rem;
    margin: 2rem 0 1rem;
    opacity: 1;
    background: #faebd7;
    border: 1px solid #ff9200;
    i, .close-error {
      color: #ff9200;
    }
  }
  &.m-correct {
    height: auto;
    visibility: visible;
    padding: .6rem 1.5rem;
    margin: 2rem 0 1rem;
    opacity: 1;
    background: #d1dfe1;
    border: 1px solid #64b6c1;
    i, .close-error {
      color: #64b6c1;
    }
  }
  p {
    margin: 0;
    @extend %d-flex;
    justify-content: space-between;
    align-items: center;
    i {
      font-size: $medFontSize;
      margin-#{$right}: 1rem;
    }
  }
  .close-error {
    font-size: $iconsFontSize;
    line-height: $iconsFontSize;
    font-weight: bold;
    width: auto;
    padding: 0 .5rem;
  }
}