p {line-height: var(--h);}
.u-center-text {text-align: center}
.t-capitalize {text-transform: capitalize!important;}
.t-uppercase {text-transform: uppercase!important;}
.clearfix { &:after {content:' ';display: table;clear: both;} }
.flex-box {@extend %display-flex}
.justify-content {
    &--center {
        justify-content: center;
    }
    &--space-between {
        justify-content: space-between;
    }
}
.align-items {
    &--center {
        align-items: center;
    }
}

.background-holder {
    @extend %covered_bg;
    &--overlay1 {
        position: relative;
        &:before {
            content: " ";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to top, rgba(0,15,18,0.9), rgba(0,76,89,0.9));
        }
    }
}