/*-*************************************************************************************************-*/
/* only  microsoft browser */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
}

@supports (-ms-accelerator:true) {
}

/*-*************************************************************************************************-*/


// x-Large devices ( less than 1400px)
/*--------------------------------------------------------------------*/
@media only screen and (max-width: 1400px) {
  /*--------------------------------------------------------------------*/
}

/*--------------------------------------------------------------------*/
@media only screen and (max-width: 1366px) {
  /*--------------------------------------------------------------------*/
  :root {
    --h: 1.4;
    --arth: 1.8rem;
  }
  ///////////////////////////////////////////////////////
  $secPadding: 3rem;
  $sectionHeading: 5.5rem;
  $bodyFontSize: 1.4rem;
  $dropdownMargin2: 1rem; //header bottom
  $formElementHeight: 3rem;
  $tinyFontSize: 1.1rem; // placeholder
  $smallFontSize: 1.2rem;
  $paddingTopBottom: 0.7rem; //header top
  $medFontSize: 1.7rem;
  $iconsFontSize: 2rem;
  ////////////////////////////////////////////////////////
  p {
    font-size: $bodyFontSize;
  }
  .breadcrumb li {
    font-size: $bodyFontSize;
  }
  .page-heading {
    font-size: 8rem;
  }
  .section-intro {
    font-size: $bodyFontSize;
  }
  .plans {
    .card {
      padding: 2rem 1.5rem 5.5rem;
      margin-top: 1.5rem;
      >p, .ctm-btn {
        font-size: $smallFontSize;
      }
    }
  }
  .subscription-fees {
    font-size: 5rem;
  }
  /////////////////////////
  .offer-gallery .carousel-item {
    padding-top: 40%;
  }
  .preview {
    padding-top: 40.66%;
  }
  .error-page {
    background-position: 115% 50%;
  }

}


// Large devices (desktops, less than 1200px)
/*------------------------------------------------------------------*/
@media only screen and (max-width: 1199.98px) {
  /*------------------------------------------------------------------*/
  .masonry-grid-item {
    width: 50%;
  }
  .error-page {
    background-position: 150% 50%;
  }
}
// Large devices (desktops, less than 1120px)
/*------------------------------------------------------------------*/
@media only screen and (max-width: 1119.98px) {
  /*------------------------------------------------------------------*/
  .error-page {
    background-position: 185% 50%;
  }
}

// Medium devices (tablets, less than 992px)
/*--------------------------------------------------------------------*/
@media only screen and (max-width: 991.98px) {
  /*--------------------------------------------------------------------*/
  :root {
    --h: 1.4;
    --arth: 1.8rem;
  }
  ///////////////////////////////////////////////////////
  $secPadding: 3rem;
  $sectionHeading: 5.5rem;
  $bodyFontSize: 1.4rem;
  $dropdownMargin2: 1rem; //header bottom
  $formElementHeight: 3rem;
  $tinyFontSize: 1.1rem; // placeholder
  $smallFontSize: 1.2rem;
  $paddingTopBottom: 1.8rem; //header top
  $medFontSize: 1.7rem;
  $iconsFontSize: 2rem;
  ////////////////////////////////////////////////////////
  .text-block {
    [class^="col-"] {
      margin-bottom: 1.5rem;
    }
  }
  .page-header {
    padding: 1rem;
  }
  .page-heading {
    font-size: 6rem;
  }
  //////////////////////////////////////
  .merchant-details {
    margin-bottom: 8rem;
  }
  .offers-container {
    .offer {
      a {
        width: 100%;
      }

      &:before {
        background-color: transparent;
        box-shadow: none;
      }
    }
  }
  .merchant-container {
    .merchant {
      &:before {
        width: calc(100% + 2rem) !important;
        height: calc(100% + 2rem) !important;
        top: -1rem !important;
        left: -1rem !important;
        box-shadow: 0 3px 10px -2px rgba(159,159,159,0.7) !important;
      }
    }
  }
  /////////////////////////
  .offer-gallery .carousel-item {
    padding-top: 50%;
  }
  .preview {

    padding-top: 66.66%;
  }
  .profile-pic {
    width: 12rem;
    height: 12rem;
    @include border-radius(50%);
    overflow: hidden;
    margin: 2rem auto;
  }
  ////////////////////////////////////
  .fullPage {
    &:before {
      display: none;
    }
    background-image: none !important;
    background-color: $dropdownClr;
    .content {
      padding-right: 15px;
      padding-top: 4rem;
      padding-bottom: 4rem;
    }
    .form-group.name {
      flex-flow: column;
      .form__element {
        width: 100%;
        &:not(:last-child) {
          margin-bottom: 1.5rem;
        }
      }
    }
    .form-options {
      label, a {
        font-size: 1.2rem;
      }
    }
  }
}



// Small devices (landscape phones, less than 768px)
/*--------------------------------------------------------------------*/
@media only screen and (max-width: 767.98px) {
  /*--------------------------------------------------------------------*/
  .masonry-grid-item {
    width: 100%;
  }

  .offers-container {
    [class^="col-"] {
      &:nth-child(odd) {
        .offer {
          &:before {
            background-color: $dropdownClr;
            width: calc(100% + 3rem);
            height: calc(100% + 3rem);
            top: -1.5rem;
            left: -1.5rem;
            box-shadow: 0 3px 10px -2px rgba($offerClr, .7);
          }

          .preview {
            filter: saturate(1.4);
          }

          a {
            width: 100%
          }
        }
      }
    }
  }
  .section-intro {
    width: 100%;
    min-width: auto;
  }
  .emojis {
    font-size: 10rem;
    padding-bottom: 2rem;
  }
  ///////////////////////
  .two-col-list {
    column-count: auto;
  }
  .tab-link {
    padding: .8rem 1rem;
    font-size: 1.3rem;
  }
  .table th, .table td {
    font-size: 1.4rem;
  }
  .tab-content .subscribtion-info {
    flex-flow: column;
    >img {
      width: 12rem;
      margin: 1.5rem auto;
    }
    >.row {
     > * {
       margin-bottom: 1.5rem;
     }
    }
  }
  .thanks {
    width: 100%;
  }
  .error-page .content {
    justify-content: flex-start;
    > * {
      margin-bottom: 5rem;
    }
  }
}


/*-*************************************************************************************************-*/
/*if section full screen*/
/*--------------------------------------------------------------------*/
@media only screen and (max-height: 900px) {
  /*--------------------------------------------------------------------*/
}


/*--------------------------------------------------------------------*/
@media only screen and (max-height: 768px) {
  /*--------------------------------------------------------------------*/
  .emojis {
    font-size: 8rem;
  }
}


/*--------------------------------------------------------------------*/
@media only screen and (max-height: 640px) {
  /*--------------------------------------------------------------------*/
}


/*--------------------------------------------------------------------*/
@media only screen and (max-height: 600px) {
  /*--------------------------------------------------------------------*/
}

/*-*************************************************************************************************-*/


// Extra small devices (portrait phones, less than 576px)
/*----------------------------------------------------------------------*/
@media only screen and (max-width: 575.98px) {
  /*--------------------------------------------------------------------*/
  :root {
    --h: 1.4;
    --arth: 1.8rem;
  }
  ///////////////////////////////////////////////////////
  $secPadding: 2.5rem;
  $sectionHeading: 3.5rem;
  $bodyFontSize: 1.4rem;
  $dropdownMargin2: 1rem; //header bottom
  $formElementHeight: 3rem;
  $tinyFontSize: 1.1rem; // placeholder
  $smallFontSize: 1.2rem;
  $paddingTopBottom: 1.8rem; //header top
  $medFontSize: 1.7rem;
  $iconsFontSize: 2rem;
  ////////////////////////////////////////////////////////
  .page-heading {
    font-size: 5rem;
  }
  .star-rating {
    font-size: 0.99em;
  }
  .offer-header {
    flex-flow: column;
  }
  .offer-main-info {
    padding: 1.5rem 1rem;
    margin-bottom: 2rem;
  }
  .price-info {
    padding: 2rem 0;
  }
  .text-block {
    padding: 1.5rem 1rem;
  }
  .list {
    margin: 1rem 0;
  }
}


/*----------------------------------------------------------------------*/
@media only screen and (max-width: 480px) {
  /*--------------------------------------------------------------------*/
  .emojis {
    font-size: 5rem;
  }
  p {
    font-size: 1.3rem;
  }
  .tab-link {
    padding: .8rem;
    font-size: 1.1rem;
  }
  .table th, .table td {
    font-size: 1.2rem;
  }
}


/*  Extra Small Devices, Phones
/*----------------------------------------------------------------------*/
@media only screen and (max-width: 360px) {
  /*--------------------------------------------------------------------*/
  ///////////////////////////////////
  .page-heading {
    font-size: 3rem;
  }
  .fullPage {
    .form-options {
      label, a {
        font-size: 1.1rem;
      }
    }
  }
}