
/*-*************************************************************************************************-*/
/* only  microsoft browser */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
}

@supports (-ms-accelerator:true) {
}

/*-*************************************************************************************************-*/


// x-Large devices ( less than 1400px)
/*--------------------------------------------------------------------*/
@media only screen and (max-width: 1400px) {
  /*--------------------------------------------------------------------*/
}

/*--------------------------------------------------------------------*/
@media only screen and (max-width: 1366px) {
  /*--------------------------------------------------------------------*/
  :root {
    --h: 1.4;
    --arth: 1.8rem;
  }
  ///////////////////////////////////////////////////////
  $secPadding: 3rem;
  $sectionHeading: 5.5rem;
  $bodyFontSize: 1.4rem;
  $dropdownMargin2: 1rem; //header bottom
  $formElementHeight: 3rem;
  $tinyFontSize: 1.1rem; // placeholder
  $smallFontSize: 1.2rem;
  $paddingTopBottom: 0.7rem; //header top
  $medFontSize: 1.7rem;
  $iconsFontSize: 2rem;
  ////////////////////////////////////////////////////////
  .breadcrumb li {
    font-size: $bodyFontSize;
  }
  .page-heading {
    font-size: 8rem;
  }
}


// Large devices (desktops, less than 1200px)
/*------------------------------------------------------------------*/
@media only screen and (max-width: 1199.98px) {
  /*------------------------------------------------------------------*/
  .masonry-grid-item {
    width: 50%;
  }
}

// Medium devices (tablets, less than 992px)
/*--------------------------------------------------------------------*/
@media only screen and (max-width: 991.98px) {
  /*--------------------------------------------------------------------*/
  :root {
    --h: 1.4;
    --arth: 1.8rem;
  }
  ///////////////////////////////////////////////////////
  $secPadding: 3rem;
  $sectionHeading: 5.5rem;
  $bodyFontSize: 1.4rem;
  $dropdownMargin2: 1rem; //header bottom
  $formElementHeight: 3rem;
  $tinyFontSize: 1.1rem; // placeholder
  $smallFontSize: 1.2rem;
  $paddingTopBottom: 1.8rem; //header top
  $medFontSize: 1.7rem;
  $iconsFontSize: 2rem;
  ////////////////////////////////////////////////////////
  .text-block {
    [class^="col-"] {
     margin-bottom: 1.5rem;
    }
  }
  .page-header {
    padding: 1rem;
  }
  .page-heading {
    font-size: 6rem;
  }
  //////////////////////////////////////
}


// Small devices (landscape phones, less than 768px)
/*--------------------------------------------------------------------*/
@media only screen and (max-width: 767.98px) {
  /*--------------------------------------------------------------------*/
  .masonry-grid-item {
    width: 100%;
  }
  .offers-container {
    .offer {
      a{
        width: 100%;
      }
      &:before {
        background-color: transparent;
        box-shadow: none;
      }
    }
    [class^="col-"] {
      &:nth-child(odd) {
        .offer {
          &:before{
            background-color: $dropdownClr;
            width: calc(100% + 3rem);
            height: calc(100% + 3rem);
            top: -1.5rem;
            left: -1.5rem;
            box-shadow:0 3px 10px -2px rgba($offerClr,.7);
          }
          .preview{
            filter: saturate(1.4);
          }
          a{width: 100%}
        }
      }
    }
  }
  .section-intro {
    width: 100%;
    min-width: auto;
  }
  .emojis {
    font-size: 10rem;
    padding-bottom: 2rem;
  }
}


/*-*************************************************************************************************-*/
/*if section full screen*/
/*--------------------------------------------------------------------*/
@media only screen and (max-height: 900px) {
  /*--------------------------------------------------------------------*/
}


/*--------------------------------------------------------------------*/
@media only screen and (max-height: 768px) {
  /*--------------------------------------------------------------------*/
  .emojis {
    font-size: 8rem;
  }
}


/*--------------------------------------------------------------------*/
@media only screen and (max-height: 640px) {
  /*--------------------------------------------------------------------*/
}


/*--------------------------------------------------------------------*/
@media only screen and (max-height: 600px) {
  /*--------------------------------------------------------------------*/
}

/*-*************************************************************************************************-*/


// Extra small devices (portrait phones, less than 576px)
/*----------------------------------------------------------------------*/
@media only screen and (max-width: 575.98px) {
  /*--------------------------------------------------------------------*/
  :root {
    --h: 1.4;
    --arth: 1.8rem;
  }
  ///////////////////////////////////////////////////////
  $secPadding: 2.5rem;
  $sectionHeading: 3.5rem;
  $bodyFontSize: 1.4rem;
  $dropdownMargin2: 1rem; //header bottom
  $formElementHeight: 3rem;
  $tinyFontSize: 1.1rem; // placeholder
  $smallFontSize: 1.2rem;
  $paddingTopBottom: 1.8rem; //header top
  $medFontSize: 1.7rem;
  $iconsFontSize: 2rem;
  ////////////////////////////////////////////////////////
  .page-heading {
    font-size: 5rem;
  }

}


/*----------------------------------------------------------------------*/
@media only screen and (max-width: 480px) {
  /*--------------------------------------------------------------------*/
  .emojis {
    font-size: 5rem;
  }
}


/*  Extra Small Devices, Phones
/*----------------------------------------------------------------------*/
@media only screen and (max-width: 360px) {
  /*--------------------------------------------------------------------*/
  ///////////////////////////////////
  .page-heading {
    font-size: 3rem;
  }

}